
*.xlsx
*.mp4
Preppin Data/PD - 2019 week 18/01 the output.PNG
Preppin Data/PD - 2019 week 23/screen1.png
Preppin Data/PD - 2019 week 23/Screen2.png
Preppin Data/PD - 2019 week 24/w24_1.png
Preppin Data/PD - 2019 week 24/w24_2.png
Preppin Data/PD - 2019 Week 9 - Not done/p1.png
Preppin Data/PD - 2019 Week 9 - Not done/p2.png
Preppin Data/PD - 2019 week 24/Messages Input.xlsx
Preppin Data/PD - 2019 week 24/Dates Input.xlsx
Preppin Data/PD - 2019 Week 9/p1.png
Preppin Data/PD - 2019 Week 9/p2.png
Preppin Data/PD - 2019 Week 9/Prepping Data Wk 9.xlsx
Preppin Data/PD - 2019 Week 30/Screenshot 2021-03-29 175535.png
Preppin Data/PD - 2019 Week 30/Screenshot 2021-03-29 175651.png
Preppin Data/PD - 2019 Week 30/Screenshot 2021-03-29 175728.png
Preppin Data/PD - 2019 Week 30/Screenshot 2021-03-29 175827.png
Preppin Data/PD - 2021 Week 4/Screenshot 2021-04-06 123707.png
Preppin Data/PD - 2021 Week 4/Screenshot 2021-04-06 132020.png
Preppin Data/PD - 2021 Week 14/1.png
Preppin Data/PD - 2021 Week 14/2.png
Preppin Data/PD - 2021 Week 14/3.png
Preppin Data/PD - 2021 Week 15/1.png
Preppin Data/PD - 2021 Week 15/2.png
Preppin Data/PD - 2021 Week 17/step1.png
Preppin Data/PD - 2021 Week 17/step2.png
Preppin Data/PD - 2021 Week 17/step3.png

Preppin Data/PD - 2021 Week 16/PreppinData 2021 Week 16.py
Preppin Data/PD - 2021 Week 18/Screenshot 2021-05-05 153148.png
Preppin Data/PD - 2021 Week 18/Screenshot 2021-05-05 153254.png
Danny Ma -  8 Week SQL Challenges/Week 1/Furkan_Asani_code.sql
Preppin Data/PD - 2021 Week 19/Export.png
Preppin Data/PD - 2021 Week 20/1.png
Preppin Data/PD - 2021 Week 20/2.png
Preppin Data/PD - 2021 Week 21/1.png
Preppin Data/PD - 2021 Week 21/2.png
Preppin Data/PD - 2021 Week 21/3.png
Preppin Data/PD - 2021 Week 21/4.png
