
*.mp4
Preppin Data/PD - 2019 week 18/01 the output.PNG
Preppin Data/PD - 2019 week 23/screen1.png
Preppin Data/PD - 2019 week 23/Screen2.png
Preppin Data/PD - 2019 week 24/w24_1.png
Preppin Data/PD - 2019 week 24/w24_2.png
Preppin Data/PD - 2019 Week 9 - Not done/p1.png
Preppin Data/PD - 2019 Week 9 - Not done/p2.png
Preppin Data/PD - 2019 week 24/Messages Input.xlsx
Preppin Data/PD - 2019 week 24/Dates Input.xlsx
Preppin Data/PD - 2019 Week 9/p1.png
Preppin Data/PD - 2019 Week 9/p2.png
Preppin Data/PD - 2019 Week 9/Prepping Data Wk 9.xlsx
Preppin Data/PD - 2019 Week 30/Screenshot 2021-03-29 175535.png
Preppin Data/PD - 2019 Week 30/Screenshot 2021-03-29 175651.png
Preppin Data/PD - 2019 Week 30/Screenshot 2021-03-29 175728.png
Preppin Data/PD - 2019 Week 30/Screenshot 2021-03-29 175827.png
Preppin Data/PD - 2021 Week 4/Screenshot 2021-04-06 123707.png
Preppin Data/PD - 2021 Week 4/Screenshot 2021-04-06 132020.png
Preppin Data/PD - 2021 Week 14/1.png
Preppin Data/PD - 2021 Week 14/2.png
Preppin Data/PD - 2021 Week 14/3.png
Preppin Data/PD - 2021 Week 15/1.png
Preppin Data/PD - 2021 Week 15/2.png
Preppin Data/PD - 2021 Week 17/step1.png
Preppin Data/PD - 2021 Week 17/step2.png
Preppin Data/PD - 2021 Week 17/step3.png

Preppin Data/PD - 2021 Week 16/PreppinData 2021 Week 16.py
Preppin Data/PD - 2021 Week 18/Screenshot 2021-05-05 153148.png
Preppin Data/PD - 2021 Week 18/Screenshot 2021-05-05 153254.png
Danny Ma -  8 Week SQL Challenges/Week 1/Furkan_Asani_code.sql
Preppin Data/PD - 2021 Week 19/Export.png
Preppin Data/PD - 2021 Week 20/1.png
Preppin Data/PD - 2021 Week 20/2.png
Preppin Data/PD - 2021 Week 21/1.png
Preppin Data/PD - 2021 Week 21/2.png
Preppin Data/PD - 2021 Week 21/3.png
Preppin Data/PD - 2021 Week 21/4.png
Preppin Data/PD - 2021 Week 24/1.png
Preppin Data/PD - 2021 Week 24/2.png
Preppin Data/PD - 2021 Week 24/3.png
Preppin Data/PD - 2019 Week 14/Output/Logic test.xlsx
Preppin Data/PD - 2019 Week 20 and 21/Output/Week 21 checks.xlsx
Preppin Data/PD - 2019 Week 22/Output/Data check.xlsx
Preppin Data/PD - 2019 Week 26/Input/PD - Wk 26 Cocktails.xlsx
Preppin Data/PD - 2019 Week 28/Input/PD Week 28 Input.xlsx
Preppin Data/PD - 2019 Week 29/Input/PD - Week 29 Input.xlsx
Preppin Data/PD - 2019 Week 29/PD 2019 week 29 in Power Query.xlsx
Preppin Data/PD - 2019 Week 30/checks.xlsx
Preppin Data/PD - 2019 Week 30/Input/@serpsswimclub_user_tweets.xlsx
Preppin Data/PD - 2019 Week 31/Input/PD wk 31 input.xlsx
Preppin Data/PD - 2019 Week 32/Input/PD Wk 32 Input.xlsx
Preppin Data/PD - 2019 Week 32/Input/~$PD wk 31 input.xlsx
Preppin Data/PD - 2019 Week 42/Input/PD Wk 42 Input.xlsx
Preppin Data/PD - 2019 Week 44/Input/PD Wk 44 Input.xlsx
Preppin Data/PD - 2021 Week 01/Input/PD 2021 Wk 1 Input.xlsx
Preppin Data/PD - 2021 Week 03/Input/PD 2021 Wk 3 Input.xlsx
Preppin Data/PD - 2021 Week 04/Input/PD 2021 Wk 4 Input-2.xlsx
Preppin Data/PD - 2021 Week 04/Input/PD 2021 Wk 4 Input.xlsx
Preppin Data/PD - 2021 Week 05/Output/Check 2.xlsx
Preppin Data/PD - 2021 Week 05/Output/Check.xlsx
Preppin Data/PD - 2021 Week 06/Input/PGALPGAMoney2019.xlsx
Preppin Data/PD - 2021 Week 07/Input/Shopping List and Ingredients.xlsx
Preppin Data/PD - 2021 Week 14/Input/Week 14 - Input.xlsx
Preppin Data/PD - 2021 Week 14/Output/2021-Week 14 Output.xlsx
Preppin Data/PD - 2021 Week 15/Input/Menu and Orders.xlsx
Preppin Data/PD - 2021 Week 17/Input/Preppin Data Challenge.xlsx
Preppin Data/PD - 2021 Week 18/Input/PD 2021 Wk 18 Input.xlsx
Preppin Data/PD - 2021 Week 19/Input/PD 2021 Week 19 Input.xlsx
Preppin Data/PD - 2021 Week 19/Output/PD 2021 Wk 19 Output.xlsx
Preppin Data/PD - 2021 Week 20/Output/PD 2021 Wk 20 Output.xlsx
Preppin Data/PD - 2021 Week 21/Input/PD 2021 Wk 21 Input v2.xlsx
Preppin Data/PD - 2021 Week 21/Input/PD 2021 Wk 21 Input.xlsx
Preppin Data/PD - 2021 Week 21/Output/PD 2021 Wk 21 Output.xlsx
Preppin Data/PD - 2021 Week 22/Input/Answer Smash Input.xlsx
Preppin Data/PD - 2021 Week 23/Input/NPS Input.xlsx
Preppin Data/PD - 2021 Week 24/Input/Absenteeism Scaffold.xlsx
Preppin Data/PD - 2021 Week 24/Output/Check.xlsx
Preppin Data/PD - 2021 Week 25/Input/2021W25 Input.xlsx
Preppin Data/PD - 2021 Week 26/Output/Check.xlsx
Preppin Data/PD - 2021 Week 26/Output/pd2021w26_PQ.xlsx
Preppin Data/PD - 2021 Week 28/Input/InternationalPenalties.xlsx
Preppin Data/PD - 2021 Week 28/Output/Week 28 Output.xlsx
Preppin Data/PD - 2021 Week 29/Input/Olympic Events.xlsx
Preppin Data/PD - 2021 Week 29/Output/Olympic Event Schedule.xlsx
Preppin Data/PD - 2021 Week 33/Input/Allchains Weekly Orders.xlsx
Preppin Data/PD - 2021 Week 34/Input/2021 Week 34 Input.xlsx
Preppin Data/PD - 2021 Week 35/Input/Pictures Input.xlsx
Preppin Data/PD - 2021 Week 36/Input/Trend Input.xlsx
